.sale {
	background-color: #f4f4f4;
	padding-top: 60px;
	padding-bottom: 20px;
}

.sale__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sale__item {
	width: 50%;
	margin-bottom: 40px;
}

.sale__item--data {
	padding-right: 70px;
}

.sale__item--info {
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background-color: rgba(216, 216, 216, 0.3);
	padding: 25px;
}

.sale__inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-bottom: 10px;
}

.sale__title {
	font-size: 36px;
	line-height: 1;
	color: #4a4a4a;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 20px;
	padding-bottom: 15px;
}

.sale__text {
	font-size: 20px;
	line-height: 1.5;
	color: #7ed321;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.sale__block {
	margin-bottom: 15px;
}

.sale__subtitle {
	font-size: 20px;
	line-height: 1.2;
	color: #4a4a4a;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 11px;
}

.sale__price {
	position: relative;
	max-width: 360px;
	width: 100%;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	font-size: 28px;
	line-height: 1.3;
	color: #000000;
	background-color: #fff;
	font-weight: 500;
	text-align: center;
	padding: 14px 10px;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 35px;
}

.sale__price:after {
	position: absolute;
	content: ' ';
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -100%;
	width: 100%;
	height: 5px;
	background-color: #ebebeb;
}

.sale__content {
	padding-bottom: 50px;
}

.sale__content p {
	font-size: 16px;
	color: #4a4a4a;
	font-weight: 400;
}

.sale__btn {
	cursor: pointer;
	font: inherit;
	display: block;
	max-width: 360px;
	width: 100%;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	-webkit-box-shadow: 0 2px 32px rgba(58, 255, 11, 0.46);
	box-shadow: 0 2px 32px rgba(58, 255, 11, 0.46);
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #7ed321;
	border: none;
	outline: none;
	text-transform: uppercase;
	padding: 19px 12px;
	-webkit-transition: 0.3s background-color;
	-o-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.sale__btn:hover {
	background-color: #35590e;
}

.sale .product__item {
	width: -webkit-calc(100% / 2 - 28px);
	width: calc(100% / 2 - 28px);
}

@media screen and (max-width: 1050px) {

.sale__item {
	width: 100%;
}

.sale__item--data {
	padding-right: 0px;
}

.sale__price:after {
	display: none;
}

.sale .product__wrap {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.sale .product__item {
	max-width: 300px;
}

}

@media screen and (max-width: 780px) {

.sale__item--info {
	padding: 20px 15px;
}

}

@media screen and (max-width: 650px) {

.sale .product__item {
	max-width: 100%;
	width: 100%;
}

}

@media screen and (max-width: 560px) {

.sale__inner {
	display: block;
}

}

