@import 'responsive.sÑss';

.goods {
	position: relative;
	z-index: 2;
	margin: 0 -4px;
	padding-top: 48px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 30px;
		@include media(md) {
			padding-bottom: 20px;
		}
		li {
			margin-bottom: 12px;
			a {
				position: relative;
				margin-right: 7px;
				transition: 0.3s color;
					
			}

			&:not(:last-child) {
				&:after {
					margin-right: 9px;
					content: '>';
				}
			}
			
			&:nth-last-child(2){
				&:after {
					margin-left: 9px;
					content: '>>';
				}
			}
		

				
		}

		li, a {
			font-size: 14px;
			line-height: 1.3;
			color: #2e2e2e;
		}

	}

	&__title {
		font-size: 36px;
		line-height: 1;
		color: #4a4a4a;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 25px;
		@include media(md) {
			font-size: 23px;
		}
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: 50%;
		margin-bottom: 48px;
		@include media(md) { 
			width: 100%;
		}
		&--content {
			position: relative;
			&:after {
				position: absolute;
				z-index: -1;
				content: ' ';
				top: 0px;
				left: 100%;
				width: 65px;
				height: 100%;
				background-image: radial-gradient(100% 70% at -50% 50%, black 0%, transparent 100%);
			 	opacity: .13;
			 	@include media(md) { 
					display: none;
			 	}
			}
			
		}

		&--info {
			padding-left: 36px;
			@include media(md) {
				padding-left: 0px;
			}
		}
	}

	&__price {
		font-size: 28px;
		line-height: 1.2;
		color: #4a4a4a;
		font-weight: 500;
		margin-bottom: 25px;
	}

	&__single {
		margin-bottom: 90px;
		position: relative;
		width: 100%;
		padding-top: 80%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__inner {
		padding: 0 48px;
		@include media(lgsm) {
			padding: 0 40px; 

		}
		@include media(sm) { 
			padding: 0px;
		}
	}

	&__gallery {
		position: relative;
		z-index: 114;
		margin-bottom: 48px;
		@include media(sm) { 
			margin: 0 40px;
			margin-bottom: 35px;
		}
		.goods__col {
			max-width: 36px;
		}
		
		.slick-track {
			display: flex;
			justify-content: center;
		}
		.slick-prev,
		.slick-next {
			position: absolute;
			z-index: 22;
			top: calc(50% - 15px);
			width: 30px;
			height: 30px;
			overflow: hidden;
			background-color: transparent;
			border: 0;
			padding: 0px;
			outline: none;
			cursor: pointer;
			&:after {
				content: ' ';
				position: absolute;
				z-index: 2;
				top: calc(50% - 6px);
				left: 15px;
				width: 12px;
				height: 12px;
				border-top: 2px solid #7ed321;
				border-left: 2px solid #7ed321;
				transform: rotate(-45deg);
				transition: 0.3s border;
			}

			&:before {
				display: none;
			}
		}

		.slick-prev {
			left: -35px;
		}

		.slick-next {
			right: -35px;
			transform: scaleX(-1);
		}
	}

	&__col {
		cursor: pointer;
		position: relative;
		margin: 1px 4px;
		padding-top: 2.5%;
		min-height: 36px;
		height: 100%;
		outline: none;
	}

	&__box {
		height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__btn {
		cursor: pointer;
		font: inherit;
		display: block;
		max-width: 340px;
		width: 100%;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 700;
		color: #ffffff;
		box-shadow: 0 2px 32px rgba(58, 255, 11, 0.46);
		border-radius: 6px;
		background-color: #7ed321;
		border: none;
		outline: none;
		text-transform: uppercase;
		padding: 19px 12px;
		margin: 0 auto;
		transition: 0.3s background-color;
		&:hover {
			background-color: #35590e;
		}
	}

	&__holder {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__compare {
		cursor: pointer;
		display: flex;
		max-width: 270px;
		width: 100%;
		label {
			cursor: pointer;
			user-select: none;
			position: relative;
			font-size: 16px;
			color: #9b9b9b;
			font-weight: bold;
			text-transform: uppercase;
			padding-left: 35px;
			margin-bottom: 24px;
			margin-top: 2px;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 22px;
				height: 22px;
				background-color: #666666;
				border-radius: 3px;
			}
			&:after {
				content: '';
				position: absolute;
				font-size: 14px;
				border-color: #fff;
				border-style: solid;
				border-width: 0 0.26em 0.26em 0;
				top: 50%;
				left: 5px;
				transform: rotate(45deg) translate(-50%, -50%);
				width: 0.68em;
				height: 1.0em;
				opacity: 0;
			}
		}


		a {
			color: #4a90e2;
			transition: 0.3s color;
			&:hover {
				color: #223040;
			}
		}
	}

	&__input {
		display: none;
		max-width: 14px;
		width: 100%;
		font-size: 14px;
		line-height: 1.7;
		color: #000000;
		border: none;
		border-radius: 5px;
		padding: 12px 20px;
		padding-bottom: 13px;
		border: 1px solid transparent;
		text-transform: uppercase;
		&:checked + label:after {
			opacity: 1;
		}
	}

	&__text {
		margin-bottom: 25px;
		p {	
			font-size: 15px;
			line-height: 1.2;
			font-weight: 400;
			color: #4a4a4a;
			padding-bottom: 15px;
		}
	}
				
}