$background: #e74c3c;
$select-color: #fff;
$select-background: #223040;
$select-width: 80px;
$select-height: 40px; 

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}

.select-styled {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url(img/icons/language.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	position: absolute; 
	top: 0;
  left: 0px;
	right: 0;
	bottom: 0;
	font-size: 15px;
	line-height: 1;
	color: #cccccc;
	text-align: right;
	font-weight: 500;
	text-transform: uppercase;
	background-color: $select-background;
	padding: 10px 0px;
  padding-right: 15px;
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  background-color: darken($select-background, 5);
  li {

    margin: 0;
    padding: 12px 0;
    padding-right: 15px;
    text-align: right;
    border-top: 1px solid darken($select-background, 10);
    &:hover {
      color: #fff;
      background-color: rgba(74, 144, 226, 0.13);
    }
    &[rel="hide"] {
      display: none;
    }
  }
}