@import 'responsive.sсss';

.tabs {
	&__list {
		display: flex;
		padding-bottom: 20px;
		@include media(xs) {
			display: block;
			padding-bottom: 25px;
		}
	}

	&__box {
		cursor: pointer;
		font-size: 16px;
		color: #666666;
		border-radius: 5px;
		border: 2px solid transparent;
		background-color: #f2f2f2;
		text-transform: uppercase;
		padding: 8px 30px;
		margin-bottom: 25px;
		@include media(xs) {
			margin-bottom: 0px;
		}
		&--active {
			color: #30537b;
			border-radius: 5px;
			border: 2px solid #30537b;
			background-color: #ffffff;
			text-shadow: 0px 0.4px 0px #30537b, 0.4px 0px 0px #30537b, 0px -0.4px 0px#30537b, -0.4px 0px 0px #30537b

		}
	}

	&__item {
		ul {
			
			li {
				list-style-type: disc;
				list-style-position: inside;
				font-size: 15px;
				line-height: 1.2;
				color: #4a4a4a;
				font-weight: 400;
				padding-bottom: 5px;
			}
		}
	}
}